.containers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem; /* Adds space between cards */
    padding: 2rem;
    flex-direction: row;
  }

  .card {
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    max-width: 500px; /* Ensures the card doesn’t get too wide */
    width: 100%; /* Allows flexibility for different screens */
    position: relative;
    padding: 20px;
    height: 500px;
  }

  @media (max-width: 768px) {
    .blog_post {
      max-width: 45%;
      overflow: scroll;
    }

  }


  @media (max-width: 480px) {
    .blog_post {
      max-width: 100%;
    }
  }


  .container_copy {
    padding: 2rem;
    max-height: 500px;
    align-items: center;
    color:white;
    font-weight: bold;
  }



  h1 {
    margin: 0 0 1rem 0;
    font-size: 2.5rem;
    letter-spacing: 0.5px;
    color: #413b3c;
  }


form {
    margin: 0; /* Ensure no extra margin around the form */
}
.button-container {
    display: flex; /* Align buttons horizontally */
    justify-content: center; /* Center the buttons */
    align-items: center; /* Vertically align items */
    gap: 1rem; /* Add space between the buttons */
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#413b3c; /* Removes default button background */
    border: none; /* Removes button border */
    font-size: 1.5rem; /* Adjust font size */
    color: #413b3c; /* Text/icon color */
    cursor: pointer; /* Pointer cursor on hover */
    transition: transform 0.2s ease-in-out; /* Hover animation */
}

button:hover {
    transform: scale(1.1);
     color:  #413b3c;
}

button a {
    text-decoration: none; /* Remove underline from links */
    color:; /* Inherit the button's text color */
}

button a:hover {
    color:   #413b3c; /* Change color when hovering over links */
}
