 .container_ {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem; /* Adds space between cards */
    padding: 2rem;
    flex-direction: row;
    width:50%;
  }

  .card {
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    background:  #c4bec0e5;
    max-width: 500px; /* Ensures the card doesn’t get too wide */
    width: 100%; /* Allows flexibility for different screens */
   border-radius: 10px;
    box-shadow: 1px 1px 2rem rgba(0, 0, 0, 0.3);
    position: relative;
    padding: 20px;
    height: 500px;
  }

  @media (max-width: 768px) {
    .blog_post {
      max-width: 45%;
      overflow: scroll;
    }

  }


  @media (max-width: 480px) {
    .blog_post {
      max-width: 100%;
    }
  }


  .container_copy {
    padding: 2rem;
    max-height: 500px;
    align-items: center;
    color:white;
    font-weight: bold;
  }



  h2 {
    margin: 0 0 1rem 0;
    font-size: 2.5rem;
    letter-spacing: 0.5px;
    color: #413b3c;
  }


form {
    display: flex;
    flex-direction: column;
    gap: 15px; /* Adds space between form elements */
    margin-top: 20px;
}

form label {
    font-size: 1em;
    margin-bottom: 5px;
    color:#413b3c ; /* Matches the overall theme */
}

form input {
    padding: none;
    border: none;
    border-radius: 0px;
    font-size: 1em;
}

