<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>
<div class="containers">
    <!-- First container for the register box -->
    <div class="box">
        <div class="content">
<h1>
    <img src="image/log.png" alt="Register Icon"style="width: 30px; height: 30px; vertical-align: middle; margin-right: 8px; color:white; ">
    Log Into your Account</h1>

<h3 th:text="${response}" ></h3>
<form action="#" th:action="@{/login}" method="post">
   <!-- <label for="username">Username:</label>-->
    <!--<input type="text" id="username" name="username" required>-->

    <label for="username" class="form-label mt-4">Username</label>
    <input type="text" class="form-control" id="username" placeholder="Username" autocomplete="off" required>
    <br>
    <label for="password" class="form-label mt-4">Password</label>
    <input type="password" class="form-control" id="password" placeholder="Password" autocomplete="off" required>

<!--    <label for="password">Password:</label>-->
<!--    <input type="password" id="password" name="password" required>-->
    <br>
    <div class="button-container">
        <!-- Login button -->
        <button type="submit" class="btn">
            <i class="fa fa-sign-in" aria-hidden="true"></i>
            Login
        </button>
        <!-- Register button -->
        <button type="button" class="btn">
            <a href="/register">
                <i class="fa fa-user-plus" aria-hidden="true"></i>
                Register
            </a>
        </button>
</div>
</form>
            </div>
    </div>
</div>

</body>
</html>